<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别为 WARN -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 如果需要某些特定包显示更详细的日志，可以单独配置，例如： -->
    <!-- <logger name="org.jetlinks.reactor.mqtt" level="INFO"/> -->
</configuration>
